fsspec==2025.7.0
ftfy==6.3.1
matplotlib==3.10.5
numpy==2.2.6
omegaconf==2.3.0
packaging==24.2
protobuf==4.25.8
pytorch-lightning==2.5.1
pyyaml==6.0.2
regex==2025.7.34
requests==2.32.5
sentencepiece==0.2.1
tqdm==4.67.1
transformers==4.55.4
huggingface_hub==0.34.4
